@media screen and (max-width:1000px) {
    /* body { */
    /* background-color: white */
    /* } */

    nav {
        flex-direction: column;
        /* align-items: center; */
        height: 100px;
    }


    .logo {
        justify-content: center;
        /* margin: 12px 0; */
    }

    nav ul {
        justify-content: center;
        margin: 7px;
    }

    .search {
        justify-content: center;
    }
}